<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <header class="home-header">Software Ranked++ <span><%=username%> | <form action="/logout" method="post" class="inline"><button type="submit" class="link-button">Logout</button></form></span></header>
    <br>
    
    <div class="card-container"> 
      <div class="rating-card">
        <a href="detail.ejs" class="h1Type h1" style="text-decoration: none;" >C++</a><h3><img src="/images/star.png" style="padding-bottom: 5px;" height="30px" width="30px" alt="rate"> 4.5</h3><h1></h1>
        <a href="detail.ejs"><div><img  class="card-image" src="/images/C++_Logo.png" alt="Language logo"></div></a>
        <div class="card-language">
          <form action="/rank" method="post">
            <input type="hidden" name="language" id="language" value="C++">
            <input type="hidden" name="username" id="username" value="<%=username%>">
            <input style="height: 47px;" type="number" class="rate-input" name="Rating" id="Rating" min="1" max="5" value="1">
            <input type="submit" class="rate-button" name="Rate" id="Rate" value="Rate">
          </form>
        </div>
      </div>

      <div class="rating-card">
        <a href="detail.ejs" class="h1Type h1" style="text-decoration: none;" >C++</a><h3><img src="/images/star.png" style="padding-bottom: 5px;" height="30px" width="30px" alt="rate"> 4.5</h3><h1></h1>
        <a href="detail.ejs"><div><img  class="card-image" src="/images/C++_Logo.png" alt="Language logo"></div></a>
        <div class="card-language">
          <form action="/rank" method="post">
            <input type="hidden" name="language" id="language" value="C++">
            <input type="hidden" name="username" id="username" value="<%=username%>">
            <input style="height: 47px;" type="number" class="rate-input" name="Rating" id="Rating" min="1" max="5" placeholder="1">
            <input type="submit" class="rate-button" name="Rate" id="Rate" value="Rate">
          </form>
        </div>
      </div>

      <div class="rating-card">
        <a href="detail.ejs" class="h1Type h1" style="text-decoration: none;" >C++</a><h3><img src="/images/star.png" style="padding-bottom: 5px;" height="30px" width="30px" alt="rate"> 4.5</h3><h1></h1>
        <a href="detail.ejs"><div><img  class="card-image" src="/images/C++_Logo.png" alt="Language logo"></div></a>
        <div class="card-language">
          <form action="/rank" method="post">
            <input type="hidden" name="language" id="language" value="C++">
            <input type="hidden" name="username" id="username" value="<%=username%>">
            <input style="height: 47px;" type="number" class="rate-input" name="Rating" id="Rating" min="1" max="5" placeholder="1">
            <input type="submit" class="rate-button" name="Rate" id="Rate" value="Rate">
          </form>
        </div>
      </div>

      <div class="rating-card">
        <a href="detail.ejs" class="h1Type h1" style="text-decoration: none;" >C++</a><h3><img src="/images/star.png" style="padding-bottom: 5px;" height="30px" width="30px" alt="rate"> 4.5</h3><h1></h1>
        <a href="detail.ejs"><div><img  class="card-image" src="/images/C++_Logo.png" alt="Language logo"></div></a>
        <div class="card-language">
          <form action="/rank" method="post">
            <input type="hidden" name="language" id="language" value="C++">
            <input type="hidden" name="username" id="username" value="<%=username%>">
            <input style="height: 47px;" type="number" class="rate-input" name="Rating" id="Rating" min="1" max="5" placeholder="1">
            <input type="submit" class="rate-button" name="Rate" id="Rate" value="Rate">
          </form>
        </div>
      </div>
      
      <div class="rating-card">
        <a href="detail.ejs" class="h1Type h1" style="text-decoration: none;" >C++</a><h3><img src="/images/star.png" style="padding-bottom: 5px;" height="30px" width="30px" alt="rate"> 4.5</h3><h1></h1>
        <a href="detail.ejs"><div><img  class="card-image" src="/images/C++_Logo.png" alt="Language logo"></div></a>
        <div class="card-language">
          <form action="/rank" method="post">
            <input type="hidden" name="language" id="language" value="C++">
            <input type="hidden" name="username" id="username" value="<%=username%>">
            <input style="height: 47px;" type="number" class="rate-input" name="Rating" id="Rating" min="1" max="5" placeholder="1">
            <input type="submit" class="rate-button" name="Rate" id="Rate" value="Rate">
          </form>
        </div>
      </div>

      <div class="rating-card">
        <a href="detail.ejs" class="h1Type h1" style="text-decoration: none;" >C++</a><h3><img src="/images/star.png" style="padding-bottom: 5px;" height="30px" width="30px" alt="rate"> 4.5</h3><h1></h1>
        <a href="detail.ejs"><div><img  class="card-image" src="/images/C++_Logo.png" alt="Language logo"></div></a>
        <div class="card-language">
          <form action="/rank" method="post">
            <input type="hidden" name="language" id="language" value="C++">
            <input type="hidden" name="username" id="username" value="<%=username%>">
            <input style="height: 47px;" type="number" class="rate-input" name="Rating" id="Rating" min="1" max="5" placeholder="1">
            <input type="submit" class="rate-button" name="Rate" id="Rate" value="Rate">
          </form>
        </div>
      </div>

    </div>
  </body>
</html>